.windows10-desktop {
  background-color: #FFF;
  overflow: hidden;
  position: relative;
  z-index: 99;

  // 桌面背景
  &>.windows10-desktop-background {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  // 桌面操作区域
  &>.windows10-desktop-operation-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 5px;

    // 快捷方式
    &>.windows10-desktop-shortcut-item {
      width: var(--shortcutWidth);
      height: var(--shortcutHeight);
      display: flex;
      flex-direction: column;
      text-align: center;
      border: var(--border);
      border-color: rgba($color: #000000, $alpha: 0);
      position: absolute;
      z-index: 2;
      overflow: hidden;

      &:hover {
        border-color: rgba($color: #FFFFFF, $alpha: .3);
        background-color: var(--hoverColor);
      }

      // 快捷方式图标
      &>.windows10-desktop-shortcut-icon-box {
        width: 100%;
        padding: var(--shortcutPadding);
        position: relative;

        &>svg,
        &>img {
          width: 100%;
          height: 100%;
        }

        // 快捷方式锁，设置自动对其无法拖动
        &>.windows10-desktop-shortcut-item-lock {
          width: 25px;
          height: 25px;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 1;
          background-color: var(--hoverColor);
          padding: 5px;

          &>svg {
            width: 100%;
            height: 100%;
          }
        }
      }

      // 应用遮罩层，防止拖拽时鼠标事件位置异常
      &>.windows10-desktop-shortcut-item-shade {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 2;
      }

      // 快捷方式名称（应用名称）
      &>.windows10-desktop-shortcut-title {
        width: 100%;
      }

      // 解锁
      &.not-lock {
        .windows10-desktop-shortcut-item-lock {
          display: none;
        }
      }

    }


    // 桌面移动遮罩层（防止卡顿）
    &>.windows10-desktop-operation-move-shade {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 999999;
      cursor: move;
    }

    // 正在移动的元素
    .move {
      background-color: rgba($color: #FFFFFF, $alpha: .3);
      border-color: var(--hoverColor);
      z-index: 999998;
    }

  }
}