* {
  box-sizing: border-box;
}

:root {
  --taskbarBg: #444444;
  --taskbarColor: #fff;
  --taskbarWidth: 40px;
  --hoverColor: rgba(200, 200, 200, 0.2);
  --border: 1px solid var(--hoverColor);
  --selectBorderColor: #c02410;
  --boxShadow: 0 2px 4px 0 #888888;
  --shortcutWidth: 75px;
  --shortcutHeight: 85px;
  --shortcutPadding: 4px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #F1F1F1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #CCC;
  border-radius: 4px;
}

.windwos10-color-select {
  width: 30px;
  height: 30px;
  padding: 0;
}

select {
  width: 240px;
  height: 30px;

  &:focus-visible {
    outline: none;
  }
}

@import "./Windows.scss";
@import "./Taskbar.scss";
@import "./TaskbarQuery.scss";
@import "./TaskbarTime.scss";
@import "./TaskbarWin.scss";
@import "./Desktop.scss";