.windows10-taskbar {
  display: flex;
  background-color: var(--taskbarBg);
  color: var(--taskbarColor);
  position: relative;
  z-index: 100;

  .windows10-taskbar-win-icon,
  .windows10-taskbar-datetime,
  .windows10-taskbar-message {
    cursor: default;

    &:hover {
      background-color: var(--hoverColor);
    }
  }

  &>.windows10-taskbar-app-list {
    width: calc(100% - 80px - var(--taskbarWidth) - var(--taskbarWidth));
    display: flex;

    &>.taskbar-app-list-item {
      width: var(--taskbarWidth);
      height: var(--taskbarWidth);
      padding: 10px 10px 8px 10px;
      border-bottom: 2px solid var(--taskbarColor);
      margin-left: 1px;

      &:hover {
        background-color: var(--hoverColor);
      }

      &.top {
        background-color: var(--hoverColor);
      }

      svg,
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &>.windows10-taskbar-message {
    width: var(--taskbarWidth);
    height: var(--taskbarWidth);
    padding: 10px;

    &>svg {
      width: 100%;
      height: 100%;
    }
  }

}