.windows10-taskbar-win {
  width: var(--taskbarWidth);
  height: var(--taskbarWidth);

  .windows10-taskbar-win-icon {
    width: 100%;
    height: 100%;
    padding: 10px;

    &:hover {
      background-color: var(--hoverColor);
    }

    &>svg {
      width: 100%;
      height: 100%;
    }

  }

  &>.windows10-taskbar-win-view {
    position: absolute;
    left: 0;
    background-color: var(--taskbarBg);
    color: var(--taskbarColor);
    width: 500px;
    height: 600px;
    display: none;
    border-top: var(--border);
    border-bottom: var(--border);

    &.show {
      display: flex;
    }

    &>.windows10-taskbar-win-view-left {
      width: var(--taskbarWidth);
      height: 100%;
      position: relative;
      z-index: 1;

      &>.win-view-left-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: var(--taskbarBg);
        overflow: hidden;
        transition: 0.3s;

        &:hover {
          width: 180px;
          border-right: var(--border);
        }

        &>.win-view-left-content-item {
          width: 179px;
          height: var(--taskbarWidth);
          display: flex;
          align-items: center;
          cursor: default;

          &:hover {
            background-color: var(--hoverColor);
          }

          &>.win-view-left-content-item-icon {
            width: var(--taskbarWidth);
            height: 100%;
            padding: 10px;

            img,
            svg {
              width: 100%;
              height: 100%;
            }
          }

          &>.win-view-left-content-item-name {
            width: calc(100% - var(--taskbarWidth));
            height: 100%;
            line-height: var(--taskbarWidth);
            font-size: 16px;
          }
        }
      }
    }

    &>.windows10-taskbar-win-view-content {
      width: 220px;
      height: 100%;
      border-left: var(--border);
      padding-top: 10px;

      &>.windows10-taskbar-win-view-content-app-item {
        padding: 5px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover {
          background-color: var(--hoverColor);
        }

        &>.windows10-taskbar-win-view-content-app-icon {
          width: 26px;
          height: 26px;

          svg,
          img {
            width: 100%;
            height: 100%;
          }
        }

        &>.windows10-taskbar-win-view-content-app-title {
          width: calc(100% - 40px);
          overflow: hidden;
        }
      }
    }

    &>.windows10-taskbar-win-view-right {
      width: calc(100% - var(--taskbarWidth) - 220px);
      height: 100%;
      border-left: var(--border);
    }
  }
}