.windows10-app {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  display: flex;
  font-size: 12px;

  &.top {
    flex-direction: column-reverse;

    &>.windows10-desktop {
      width: 100%;
      height: calc(100% - var(--taskbarWidth));
    }

    &>.windows10-taskbar {
      width: 100%;
      height: var(--taskbarWidth);
    }
  }

  &.bottom {
    flex-direction: column;

    &>.windows10-desktop {
      width: 100%;
      height: calc(100% - var(--taskbarWidth));
    }

    &>.windows10-taskbar {
      width: 100%;
      height: var(--taskbarWidth);
    }
  }

  &.left {
    flex-direction: row-reverse;

    &>.windows10-desktop {
      width: calc(100% - var(--taskbarWidth));
      height: 100%;
    }

    &>.windows10-taskbar {
      width: var(--taskbarWidth);
      height: 100%;
    }
  }

  &.right {
    &>.windows10-desktop {
      width: calc(100% - var(--taskbarWidth));
      height: 100%;
    }

    &>.windows10-taskbar {
      width: var(--taskbarWidth);
      height: 100%;
    }
  }
}